<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>Create a Race</h2>
			</header>
			<div class="content">
				<p class='center'>
					<%= form_for @race do |f| %>
					  <%= f.label :name %>
					  <%= f.text_field :name, placeholder: "Think of a catchy title...", :required => true %><br />

					  <div id='date-select'>
					  	<%= f.label :date %>
					  	<%= f.datetime_select :date, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year', hour: 'Select hour', minute: 'Select minute' }, start_year: Date.today.year, end_year: Date.today.year + 10}, {required: true} %>
					  </div>
					  <%= f.submit %>
					<% end %>
				</p>			
			</div>
		
		</article>
	</div>
</section>